* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-custom {
    background-color: #132651
}

main {
    background-image: url(images/sur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 78.3px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-component {
    width: 744px;
    height: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-white {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.form-btn-explore-trip {
    margin-top: 12px;
    display: inline-block;
}

.btn-explore-trip {
    background-color: #1c336a;
    color: #fff;
    border: 2px;
    padding: 11px 20px;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-explore-trip:hover {
background-color: #132651;
transition: 00.35s ease-in-out all;
}











